---
import Layout from "../layouts/page.astro";
---

<Layout>
  <div>
    <h1>Page not found</h1>
    <p>Looks like the page you requested doesn’t exist.</p>
    <p><a href="/">&larr; back home</a></p>
  </div>
</Layout>
