---
import Layout from "../layouts/page.astro";
---

<Layout>
  <div class="space-y-5 px-5 max-w-2xl mx-auto">
    <h2 class="font-cursive text-2xl">About sndwch</h2>
    <p>
      The history of sndwch is the history of all of us, really. Who among us
      hasn’t set bravely forth to challenge the boundaries that limited those
      who came before us? Who hasn’t felt the call to shed the senseless burdens
      of previous generations and embrace a brighter, happier, more unified
      future?
    </p>
    <p>
      At sndwch, we believe in bringing people together. The overly restrictive
      labels of our past have divided us for too long.
    </p>
    <p>
      Forget the labels. You don’t need to stand alone. Explore a new world of
      joyful, unburdened flavors.
    </p>
    <p>Because when you’re here, just about everything can be a sandwich.</p>
    <p>Join us. <a href="/shop" class="underline">Shop now &rarr;</a></p>
  </div>
</Layout>
