---
import UserMailform from '../components/user-mailform.astro';
import Layout from '../layouts/page.astro';
export const prerender = false;

let message;
if (Astro.request.method === 'POST') {
	try {
		const data = await Astro.request.formData();
		const name = data.get('name');
		const email = data.get('email');

		message = `Subscribed as “${name}” with email “${email}”.`;
	} catch (error) {
		console.error(error);
	}
}
---

<Layout>
	<div>
		<h1 class="text-2xl font-cursive">Get the sndwch newsletter</h1>
		{
			message && (
				<div>
					<p>
						{message}
						<a href="/newsletter">start over</a>
					</p>
				</div>
			)
		}
		{!message && <UserMailform />}
	</div>
</Layout>
