---
import Layout from '../layouts/page.astro';
import ShopItems from '../components/shop-items.astro';
import Cart from '../components/cart';
---

<Layout>
	<section class="px-5 max-w-7xl mx-auto">
		<h2 class="text-4xl font-cursive">Shop Sandwich Kits</h2>
		<div class="flex py-5 gap-5">
			<ShopItems />
			<div class="w-[300px] shrink-0 px-4">
				<Cart client:only="react" />
			</div>
		</div>
	</section>
</Layout>
